@use "@angular/material" as mat;

@include mat.core();

$app-theme: mat.define-light-theme(
	(
		typography: mat.define-typography-config(),
		density: 0,
	)
);

@include mat.all-component-themes($app-theme);

html,
body {
	height: 100%;
}
